<a href="https://colab.research.google.com/github/Akshata-Rohokale/DSTT/blob/main/DSTT_assign_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
Name: Akshata Rohokale

Reg No: 22-27-21
```

Q1.Given an array A of N numbers (int), WAP which prints the multiplication of the
elements of array A with the corresponding elements of the reverse of array A.
If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3].

Input Format:

The first line of the input contains a number N The second line of the input contains
N numbers separated by a space. (after the last elements, there is no space)

Output Format:

Print the resultant array of elements separated by a space. (no space after the last
element)

In [1]:
n = int(input())
A = [int(i) for i in input().split(" ")]
B = []
for k in range(len(A)-1,-1,-1):
    B.append(A[k])
c=[]
for j in range(0,len(A)):
    a = A[j]*B[j]
    c.append(a)
print(*c)

5
1 2 3 4 5
5 8 9 8 5

Q2.Given a list of numbers (integers), find second maximum and second minimum in
this list.

Input Format:
The first line contains numbers separated by a space.

Output Format:
Print the second maximum and second minimum separated by a space

In [2]:
l = [int(i) for i in input().split(" ")]
a = max(l)
b = min(l)
l1 = [i for i in l if i!= a]
l2 = [i for i in l if i!= b]
a1 = max(l1)
b1 = min(l2)
print(a1,b1)

3 4 5 6
5 4

Q3.Given a list A of numbers (integers), you have to print those numbers which are not
multiples of 5.

Input Format:
The first line contains the numbers of list A separated by a space.

Output Format:
Print the numbers in a single line separated by a space which are not multiples of 5.

Example:

Input:
1 2 3 4 5 6 5

Output:
1 2 3 4 6

Explanation:
Here the elements of A are 1,2,3,4,5,6,5 and since 5 is the multiple of 5, after removing
them the list becomes 1,2,3,4,6.

In [3]:
l = [int(i) for i in input().split(" ")]
z = [k for k in l if k%5 != 0]
print(*z)

2 5 6 4 10
2 6 4

Q4.You are given a number A which contains only digits 0’s and 1’s. Your task is to
make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is
possible to make all the digits same by just flipping one digit then print ’YES’ else
print ’NO’.

Input Format:
The first line contains a number made up of 0’s and 1’s.

Output Format:
Print ’YES’ or ’NO’ accordingly without quotes.

Example:

Input:
101

Output:
YES

Explanation:
If you flip the middle digit from 0 to 1 then all the digits will become same. Hence
output is YES.

In [4]:
n = input()
a = n.count("1")
b = n.count("0")
if a == 1 or b==1:
    print("YES")
else :
    print("NO")

101010
NO

Q5.Given an integer number n, you have to print the factorial of this number.

Input Format:
A number n.

Output Format:
Print the factorial of n.

Example:

Input:
4

Output:
24

In [5]:
n = int(input())
def fac(n):
    if n<0 :
        return 'Factorial not possible'
    if n in [0, 1]:
        return 1
    else :
        return n*fac(n-1)
print(fac(n))

5
120

Q6.Write a program, which will find all such numbers between m and n (both included)
such that each digit of the number is an even number.

Input Format:
The first line contains value m and n separated by a comma.

Output Format:
The numbers obtained should be printed in a comma-separated sequence on a single
line.

Constraints:
1000<=m<=9000
1000<=n<=9000

In [6]:
l = [int(i) for i in input().split(" ")]
x = ["0", "2", "4", "6", "8"]
d = []
for a in range(l[0], l[1]+1):
    b = str(a)
    for i in range (len(b)):
        if b[i] in x :
            c = 1
        else :
            c= 0
        if c ==0:
            break
    if c ==1:
        d.append(a)
print(*d, sep=",")

435 567
440,442,444,446,448,460,462,464,466,468,480,482,484,486,488